.container-profile {
    // background: linear-gradient( 45deg, #FC466B, #3F5EFB);
    background-image: url(../../style/assets/img/wallper.jpg);
    background-size: 130% 100%;
    background-repeat: no-repeat;
    height: auto;
    padding-top: 150px;

    section {

        .card-profile {
            background: white;
            background: linear-gradient(to right bottom,
                    rgba(255, 255, 255, 0.7),
                    rgba(255, 255, 255, 0.3));
            border-radius: 2rem;
            z-index: 2;
            backdrop-filter: blur(2rem);

            h3 {
                margin-top: 150px;
            }

            .card-profile-image {
                position: relative;

                img {
                    max-width: 180px;
                    height: 180px;
                    border-radius: 0.25rem;
                    transform: translate(-50%, -48%);
                    position: absolute;
                    left: 50%;
                    transition: all 0.15s ease;

                    &:hover {
                        transform: translate(-50%, -53%);
                    }
                }
            }

            // .btn {width: }
        }

        .fas .fa-user {
            font-size: x-large;
            margin-bottom: 2px;
        }
    }
}

.container-update-profil {
    box-shadow: -7px 11px 34px 15px rgba(0,0,0,0.24);

    form {

        .form-item { 
            display: grid;
            grid-template-columns: 60% 20%;
            grid-template-rows: 80px 65px;

            .btn {
                grid-row: 2/3;
                grid-column: 1/3;
            }
        }
    }
}